# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite build output
dist/
.vite/

# Local env files
.env
.env.*.local

# Mac system files
.DS_Store

# VS Code settings
.vscode/

# Logs
*.log
logs/
*.tsbuildinfo

# IDE / editor folders
.idea/
*.sublime-project
*.sublime-workspace

# Docker
*.local
docker-compose.override.yml
